# Vivado / Xilinx 临时文件
.Xil/
*.jou
*.log
*.str
*.wdb
*.pb
*.rpt
*.dcp
*.bit
*.ltx
*.mmi
*.mcs
*.prm
*.hwdef
*.hwh
*.xsa

# Vivado 工程生成目录
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/

# 仿真输出
*.out
*.vcd
*.fst

# Python 缓存
__pycache__/
*.pyc

# Office 临时锁文件
~$*
